%modal {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 1em;
  left: 50%;
  margin-left: -15em;
  opacity: 0;
  overflow: hidden;
  padding: 2em;
  position: fixed;
  top: 4em;
  width: 30em;
  visibility: hidden;
  z-index: 1000;

  &.active {
    @include animation(scaleIn 0.2s ease);
    opacity: 1;
    visibility: visible;
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  label {
    font-size: 0.9em;
    font-weight: normal;
    margin: 0.75em 0 0.25em;
  }

  .close {
    cursor: pointer;
    height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    width: 2em;

    &::before {
      content: "\f00d";
      font-family: FontAwesome;
      line-height: 2em;
      padding-left: 0.5em;
      vertical-align: center;
      text-align: right;
    }
  }

  .input {

    input,
    select {
      background-color: $white;
      border: 1px solid $medium-gray;
      border-radius: 0.25em;
    }
  }

  .form-actions {

    input {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .modal-actions {
    text-align: center;
  }
}
