.pages-listing {

  .page-content {

    .left-col {
      position: fixed;
      width: 22%;

      li {
        font-size: 0.9em;
      }
    }

    .right-col {
      margin-left: 30%;
    }
  }

  .signup-instructions {
    margin-bottom: 0;
  }

  .usa-button-big {
    margin-bottom: 2em;
  }
}
