.minimal-layout {
  background-color: darken($color-primary, 5);

  .devise-links {
    font-size: 0.9em;
    text-align: center;
  }

  .form-actions {

    input {
      margin: 1em 0;
    }
  }

  .input {

    &:first-child {
      label {
        margin-top: 0;
      }
    }

    label,
    .hint {
      font-size: 0.9em;
      font-weight: normal;
      margin-top: 0.5em;
    }

    input {
      background-color: $white;
      border: 1px solid $light-gray;
      border-radius: 0.25em;
      padding-left: 3em;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .names {
    @include clearfix;

    label {
      margin-top: 0;
    }

    .input {
      @include span-columns(6);
      display: block;
      vertical-align: top;
    }
  }

  .usa-grid {
    position: relative;

    .sign-up-form {
      box-shadow: 0 4px 5px rgba($black, 0.3);
    }
  }

  .government_user_first_name,
  .government_user_last_name,
  .government_user_email,
  .government_user_password,
  .user_first_name,
  .user_last_name,
  .user_email,
  .user_password {
    position: relative;

    &::before {
      color: darken($light-gray, 5);
      font-family: FontAwesome;
      font-size: 1.2em;
      height: 1em;
      left: 0.75em;
      position: absolute;
      text-align: center;
      top: 1.75em;
      vertical-align: center;
      width: 1em;
    }

    &.active {
      &::before {
        color: $color-primary;
      }

      input {
        border: 1px solid $color-primary;
      }
    }
  }

  .government_user_email,
  .user_email {
    &::before {
      content: "\f0e0";
    }
  }

  .government_user_first_name,
  .government_user_last_name,
  .user_first_name,
  .user_last_name {

    &::before {
      content: "\f007";
    }
  }

  .government_user_password,
  .user_password {
    &::before {
      content: "\f023";
    }
  }

  .sign-up-form {
    @extend %card;
    border-radius: 0.3em;
    left: 50%;
    max-width: none;
    position: absolute;
    top: 3em;

    .logo {
      margin-top: 1em;
      max-width: 10em;
    }

    h1 {
      font-size: 1.25em;
      font-weight: normal;
    }
  }
}
