body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

form {
  max-width: none;
}

input {

  &[type="email"],
  &[type="password"],
  &[type="text"] {
    max-width: none;
  }
}

ul {
  display: block;

  li {
    display: block;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}
