%ul.usa-sidenav-list
  %li
    %a.usa-current{:href => "#started"} Getting Started
  %li
    %a{:href => "#facts"} Facts &amp; Case Studies
  %li
    %a.toggle-menu.parent-link#proc{:href => "#procurement"}
      Procurement
      %i.fa.fa-angle-down
    %ul#proc-list.usa-sidenav-sub_list{:style => "display:none"}
      %li
        %a{:href => "#micro"} Micro-Purchase Threshold
      %li
        %a{:href => "#s70"} Schedule 70
      %li
        %a{:href => "#sewp"} NASA SEWP
      %li
        %a{:href => "#nitaac"} NIH NITAAC
  %li
    %a.toggle-menu.parent-link#revs{:href => "#reviews"}
      Reviews
      %i.fa.fa-angle-down
    %ul#revs-list.usa-sidenav-sub_list{:style => "display:none"}
      %li
        %a{:href => "#tos"} Federally-compatible ToS
      %li
        %a{:href => "#pta"} Privacy Threshold Analysis
      %li
        %a{:href => "#pia"} Privacy Impact Assessment
      %li
        %a{:href => "#sorn"} Systems of Record Notice
      %li
        %a.toggle-menu#ato{:href => "#id-overview"}
          Authority to Operate
          %i.fa.fa-angle-down
        %ul#ato-list.usa-sidenav-sub_list
          %li
            %a{:href => "#ato-agency"} Agency Approval
          %li
            %a{:href => "#fedramp-agency"} FedRAMP (Agency)
          %li
            %a{:href => "#fedramp-jab"} FedRAMP (JAB)
          %li
            %a{:href => "#fedramp-csp"} FedRAMP (CSP Supplied Packages)
      %li
        %a.toggle-menu#testing{:href => "#add-testing"}
          Additional Testing
          %i.fa.fa-angle-down
        %ul#testing-list.usa-sidenav-sub_list
          %li
            %a{:href => "#fedramp-ready"} FedRAMP Ready
          %li
            %a{:href => "#fedramp-infra"} FedRAMP Infrastructure
          %li
            %a{:href => "#swamp"} DHS SWAMP
          %li
            %a{:href => "#nccoe"} NCCoE Review
          %li
            %a{:href => "#nist"} NIST SP 800-53A
          %li
            %a{:href => "#icd-503"} ICD 503
          %li
            %a{:href => "#hipaa"} HIPAA
          %li
            %a{:href => "#pci"} PCI
