.modal.gov-user-sign-up#government-user-signup
  .slide-1-heading.heading
    %h1
      = t(".heading")
    %p
      = t(".subheading")
  = render "government_users/registrations/form",
    resource: :government_user,
    resource_name: "government_user"
  .success-message
  .close.modal-close
  .loading
    = image_tag("loading-ring.svg")
