.usa-disclaimer {
  background-color: $color-gray-dark;
  color: $white;
  font-size: 0.8em;
  padding: 0.25em 0;

  a {
    color: $white;
    font-weight: bold;
  }

  img {
    margin-right: 0.2em;
  }
}
