.app-nav {
  padding: 1em 0;

  li {
    margin: 0;
  }

  ul {
    float: right;
    margin: 0;
  }

  .logo {
    float: left;
    margin: 0;
    width: 130px;

    a {
      display: block;
      height: 38px;
    }
  }
}
