%figure.product-logo
  = image_tag(product.logo_url)

- if no_users_signed_in? || government_user_signed_in?
  .new-product-form
    - if no_users_signed_in?
      = link_to t(".get_product"),
        new_government_users_product_product_request_path(product),
        class: "usa-button modal-trigger",
        data: {modal_id: "government-user-signup"}
    - else
      = link_to t(".get_product"),
        new_government_users_product_product_request_path(product),
        class: "usa-button modal-trigger",
        data: {modal_id: "gov-product-request"}

