%figure.product-logo
  = image_tag(product.logo_url)

- if no_users_signed_in?
  = link_to t(".get_product"),
    new_government_user_registration_path,
    class: "usa-button modal-trigger",
    data: {modal_id: "government-user-signup"}
