.aa-suggestion {

  &:first-child {

    .hit-auto-complete {
      border-radius: 0.2em 0.2em 0 0;
    }
  }

  &:last-child {

    .hit-auto-complete {
      border-radius: 0 0 0.2em 0.2em;
    }
  }
}

.hit-auto-complete {
  @include clearfix;
  border-bottom: 1px solid $light-gray;
  display: block;
  padding: 0.25em 0.7em;
  width: 100%;

  &:hover {
    background-color: lighten($color-primary, 40);
  }

  a {
    color: $color-gray-dark;
    display: block;
  }

  img {
    border-radius: 0.2em;
  }

  h4 {
    display: inline-block;
    font-weight: normal;

    em {
      font-style: normal;
      font-weight: bold;
    }
  }

  .logo {
    float: left;
    height: 45px;
    margin-right: 0.5em;
    max-width: 45px;
  }
}

.product-buckets {
  @include span-columns(9);

  ul {
    @include clearfix;
  }
}

.product-card {
  @include omega(3n);
  @include span-columns(4);
  @include transition(all 0.2s ease);
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 0.25em;
  margin-bottom: 1.5em;

  &:hover,
  &.focused {
    box-shadow: 0 0 5px rgba($color-primary, 0.75);
  }

  a {
    @include clearfix;
    display: block;
    padding: 0.75em;
  }

  h3 {
    color: lighten($dark-gray, 10);
    font-size: 1em;
    line-height: 1em;
    margin: 0 0 0.25em;
  }

  p {
    color: lighten($dark-gray, 25);
    font-size: 0.85em;
    line-height: 1.3em;
    margin: 0;
  }

  .logo {
    line-height: 0;
    margin: 0 auto;
    min-height: 36px;
    width: 35%;

    @include media($medium-screen) {
      float: left;
      margin: 0;
      width: 18%;
    }
  }

  .product-content {
    @include media($medium-screen) {
      float: right;
      width: 75%;
    }
  }
}

.product-card-container {
  @include outer-container;
}

.products-index {
  background-color: lighten($light-gray, 10);

  .app-header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .app-nav {
    background: none;
    box-shadow: none;
  }

  .banner {
    @include background-image(linear-gradient(rgba($color-primary, 0) 70%, rgba($color-primary, 0.10) 100%), image-url("products/banner3.jpg"));
    background-repeat: no-repeat;
    background-size: cover, cover, cover;
    padding: 9em 0 6em;

    h1 {
      font-size: 3.4em;
      line-height: 1.1em;
    }
  }

  .bucket-heading {
    font-size: 1.4em;
    margin-bottom: 0.25em;
  }

  .categories {
    @include span-columns(3);

    li {
      margin: 0 0 0.5em;
    }
  }

  .categories-list {
    margin-top: 0.75em;

    a {
      color: $dark-gray;
    }
  }

  .names {
    @include clearfix;

    label {
      margin-top: 0;
    }

    .input {
      @include span-columns(6);
    }
  }

  .page-content {
    padding-top: 0;
  }

  .page-header {
    margin: 0 auto;
    max-width: 40em;
    text-align: center;

    h1 {
      margin-bottom: 0.1em;
    }

    p {
      font-size: 1.2em;
      margin: 0;
    }
  }

  .products-container {
    @include clearfix;
    padding-top: 2em;
  }

  .usa-disclaimer {
    background-color: rgba($color-gray-dark, 0.95);
  }
}

.hero-search {
  margin-top: 1.5em;

  form {
    @include clearfix;
    margin: 0 auto;
    max-width: 40em;
  }

  input {
    border: 0;
    margin: 0;

    &[type="submit"] {
      border-radius: 0 $base-border-radius $base-border-radius 0;
      float: left;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      vertical-align: top;
      width: 10em;
    }
  }

  label {
    clip: rect(1px 1px 1px 1px); // IE6, IE7 //
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }

  .aa-dropdown-menu {
    background-color: $white;
    border-radius: 0.2em;
    box-shadow: 0 3px 4px rgba($black, 0.2);
    margin-top: 0.5em;
    width: 100%;
  }

  .algolia-autocomplete {
    width: 100%;
  }

  .input {
    float: left;
    vertical-align: top;
    width: 30em;

    input {
      border-radius: 0.2em 0 0 0.2em;
      margin: 0;
      max-width: none;
      width: 100%;
    }
  }

  .products_name {

    input {
      background-color: $white;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
