.product-sidebar {
  @include span-columns(3);

  .usa-button {
    border-radius: 0.25em;
    margin-top: 1em;
    width: 100%;

    i {
      font-size: 0.9em;
      margin-left: 0.2em;
    }
  }
}

.products-show {

  .product-content {
    @include span-columns(9);
    @include omega;

    p {
      margin-top: 0;
    }
  }

  .product-edit {
    bottom: 0.95em;
    font-size: 0.85em;
    position: absolute;
    right: 0;

    button {
      @include outline-button($medium-gray);
      margin: 0;
      padding: 0.5em 0.75em;

      &[type="submit"] {
        background-color: transparent;
      }

      &:hover {
        background-color: $color-primary;
        color: $white;
        text-decoration: none;
      }
    }

    i {
      margin-right: 0.25em;
    }
  }

  .product-header {
    margin-top: 1em;
    position: relative;
  }

  .product-logo {
    @extend %card;
    border-radius: 0.75em;
    padding: 1.75em;
  }

  .product-name {
    margin-bottom: 0.25em;
    width: 85%;

    a {
      color: $color-gray-dark;

      &:hover {
        color: darken($color-primary, 10);
        text-decoration: none;
      }
    }

    i {
      font-size: 0.4em;
    }
  }

  .remove {
    display: none;
  }

  .success-message {

    .slide-2 {
      @include animation(slideInLeft 0.4s ease);
      @include animation-fill-mode(forwards);
      opacity: 0;
      visibility: hidden;
    }
  }

  .usa-button {

    &.disabled {
      background-color: $medium-gray;
      cursor: default;
    }
  }
}
