.sessions-new {

  header {
    text-align: center;
  }

  .logo {
    margin: 0 auto;
  }

  .sign-up-form {
    margin-left: -15em;
    width: 30em;
  }

  .form-actions {
    input {
      width: 100%;
    }
  }
}
